{% extends'layout.html.twig' %}





{% block content %}

    {#<span data-page="1" id="current-page-holder"></span>#}

    <i>Новости к тегу</i> : <span class="font-medium">#{{ tag.word }}</span>
  <hr class="bg-primary">
<div class="news-list">
    {% for news in news_collection %}

        <div class="alert alert-primary" role="alert">
           <span class="font-medium">{{ news.name }}</span>
            <br>
            <div class="tags">
                {% for tag in news.tags %}
                    <a href="{{ path('news_by_tag',{'id' : tag.id}) }}">#{{ tag.word }}</a>&#160;&#160;
                {% endfor %}
            </div>
            <a href="{{ path('paper_show',{'id' : news.id}) }}">Подробнее&#62;&#62;</a>
            <br>
            <i class="float-right margin-top-15px">{{ news.creteDate|date("d.m.Y") }}</i>
        </div>
        <br>
    {% endfor %}

</div>


    <li class="page-item active page-item-template disp-none">
        <a class="page-link">...</a>
    </li>

<div class="container">

        <ul class="pagination pagination-lg disp-none justify-content-center">
            {% for button in pagination %}
                {% if button.isActive %}
                    <li class="page-item active">
                        <a class="page-link" href = '?page={{ button.page }}'>{{ button.text }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="#">{{ button.text }}</a>
                    </li>
            {% endif %}
            {% endfor %}

        </ul>

</div>



{% endblock %}




