{% extends'layout.html.twig' %}

{% block content %}

    <span data-newsid="{{ news.id }}" id="newsid"></span>
    <span data-category="{{ news.categoryId }}" id="category"></span>
    <div class="container">
        <div class="margin-top9px"><i>Статьи&#62;&#62;{{ category.name }}</i></div>
        <h2>{{ news.name }}</h2>
        <img src="/webroot/images/images_of_news/{{ news.titleImage }}" class="title-image">
        <div class="tags">
            {% for tag in news.tags %}
                <a href="{{ path('news_by_tag',{'id' : tag.id}) }}">#{{ tag.word }}</a>&#160;&#160;
            {% endfor %}
        </div>
        <div>Общее число просмотров: <span id="allAmount">{{ news.showAmount }}</span></div>
        <div>Сейчас читают: <span id="showNow">1</span></div>
        <div class=" margin-top-23px float-right">
            <i>{{ news.creteDate|date("d.m.Y") }}</i>
        </div>
        <div class="bg-white text-dark ">
            {{ news.newsBody }}
            {%  if not sessionGet('user') and  news.analitic == 1 %}
                <div class="text-danger font-normal">
                    <i>
                        &#160;&#160;Данная статья является Аналитикой.
                        <br>
                        &#160;&#160;Для получения полного объема необходима регистрация
                    </i>
                </div>
            {% endif %}


        </div>
        <div class="get-message disp-none my-alert bg-success">
            <strong>
                <div class="text-center" style="margin-bottom: 0px">
                    {#Прокоментировано!#}
                </div>
            </strong>
        </div>
        {%  if sessionGet('user')%}

            <div class="container card border-info comment-form margin-top9px">
                <form>
                    <div class="form-group">
                        <label>&#160;</label>
                        <textarea class="form-control comment-textarea"></textarea>
                        <button type="button" class="add-comment-button margin-top9px btn btn-primary mb-2">Комментировать</button>
                    </div>
                </form>
            </div>

        {#TEMPLATE BLOCK#}
            <div class="card border-info mb-3 margin-top9px empty-block" style="display: none">
                <div class="card-header">
                    <a href=""></a>
                </div>
                <div class="card-body text-info">
                    <p class="text-info comment-body"></p>
                </div>
                <div>
                    <i class="date-comment-in-news">  </i>
                </div>
                <div class="text-right margin-top-30px margin-right5px">
                    <div class="comment-id disp-none"></div>
                    <button type="button" class="likes-button btn btn-link">Плюсануть</button>
                    <span class="margin-lest-15px likes-field">0</span>
                    <button type="button" class="dislikes-button btn btn-link">Минусануть</button>
                    <span class="margin-lest-15px dislikes-field">0</span>
                </div>
            </div>
         {#TEMPLATE BLOCK END#}


        {% endif %}
        <div id="commets-block">

            {% for comment in comments %}
                <div class="card border-info mb-3 margin-top9px">
                    <div class="card-header">
                        {% for key, user in users %}
                        {% if key == comment.userId %}
                            <a href="{{ path('user_comment',{'id' : comment.userId}) }}">{{ user }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                <div class="card-body text-info">
                    <p class="text-info"> {{ comment.body }}</p>
                </div>
                    <div>
                        <i class="date-comment-in-news">{{ comment.date }}</i>
                    </div>
                    <div class="text-right margin-top-30px margin-right5px">
                        <div class="comment-id disp-none">{{ comment.id }}</div>
                        <button type="button" class="likes-button btn btn-link">Плюсануть</button>
                        <span class="margin-lest-15px likes-field">{{ comment.likes }}</span>
                        <button type="button" class="dislikes-button btn btn-link">Минусануть</button>
                        <span class="margin-lest-15px dislikes-field">{{ comment.dislikes }}</span>
                    </div>
            </div>
            {% endfor %}


         </div>
    </div>

<br>
<br>

    <div id="footer" class="bg-info text-center font-medium" style="display: none">

    </div>


{% endblock %}






















