
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/webroot/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webroot/css/style.css">
    <link rel="stylesheet" href="../../webroot/css/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">
</head>
<body>

<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_home')}}">Главная страница админа </a>
            </li>

        </ul>
        <div class="nav-item dropdown">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0 dropdown-menu-right">

                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ sessionGet('user') }}
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-right" href="{{ path('homepage') }}">User layout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-right"  href="{{ path('login_exit') }}">Exit</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<h1 class="text-center">Меню Администратора</h1>
    <hr>

<div class="container-fluid">


    <div class="row">
        <div class="col-md-2">

            <div class="btn-group-vertical width100">
                <a class="btn btn-secondary" href="{{ path('admin_news_add') }}">Создать новость</a>
                <a class="btn btn-secondary" href="{{ path('admin_catrgory_add') }}">Добавить категорию</a>
                <a class="btn btn-secondary " href="{{ path('admin_permit_news') }}">Комментарии</a>

            </div>

        </div>

        <div class="col-md-8 ">

            {% block content %}

            {% endblock %}

        </div>

        <div class="col-md-2">
        </div>


    </div>
</div>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="/webroot/js/script.js"></script>

</html>