{% extends'layout.html.twig' %}


{% block baner %}

    <div id="block-for-slider">
        <div id="viewport">
            <ul id="slidewrapper">
                {% for news in lastFour %}
                    <li class="slide">
                        <img src="/webroot/images/images_of_news/{{ news.titleImage }}" alt="1" class="slide-img">
                        <div class="float-left font-medium">
                            {{ news.name|slice(0,15) }}{% if news.name|length > 15 %}...{% endif %}
                        </div>

                        <div class="float-right margin-top9px"><a href="{{ path('paper_show',{'id' : news.id}) }}">Подробнее&#62;&#62;</a></div>
                        <div></div>
                    </li>

                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}


{% block content %}


    <div class="card text-white  border-info mb-3">
        <div class="card-header">
            <div class="float-left"><legend>Топ 3 обсуждаемых тем за сутки</legend>
            </div>
            <button id="toptreeNewsbutton" type="button" class="btn btn-sm btn-primary  float-right">Показать/скрыть</button>
        </div>

        <div id="topthreeNewsbody" class="card-body text-info" style="display: none">

            {% if not topTreeDiscussionNews %}
                <h5 class="card-title text-warning">За последние сутки никто не оставил комментариев</h5>
            {% endif %}

            {% for news in topTreeDiscussionNews %}

                <a href="{{ path('paper_show',{'id' : news.id}) }}">{{ news.name }}</a><br>

            {% endfor %}

        </div>
    </div>






    <div class="card text-white  border-info mb-3">
        <div class="card-header">
            <div class="float-left"><legend>Топ 5 комментаторов</legend>
            </div>
            <button id="topfiveUserbutton" type="button" class="btn btn-sm btn-primary  float-right">Показать/скрыть</button>
        </div>

        <div id="topfiveUserbody" class="card-body text-info" style="display: none">

            {% for key,user in topFiveUsersByComment %}

                <a href="{{ path('user_comment',{'id' : key}) }}">{{ user }}</a><br>

            {% endfor %}

        </div>
    </div>




    <div class=" card text-white  border-info mb-3">
        <div class="card-header">
            <div class="float-left"><legend>Пять послених новостей на все темы</legend>
            </div>
            <button id="topfivebutton" type="button" class="btn btn-sm btn-primary  float-right">Показать/скрыть</button>
        </div>

        <div id="topfivebody" class="card-body text-info" >

    {% for key,item in collectionNews %}

        {%   if key=="Аналитика" %}
            <h5 class="card-title"><a href="{{ path('analitic_news') }}" class="text-warning">Аналитика</a></h5>
        {% else %}
                <h5 class="card-title"><a href="{{ path('news_by_category',{'id' :  item[0].categoryId  }) }}" class="text-warning">{{ key }}</a></h5>
        {% endif %}
        {{ news.name }}
        {% for news in item %}
            <a href="{{ path('paper_show',{'id' : news.id}) }}">{{ news.name }}</a><span>&#160;&#160;&#160;&#160;&#160;&#160;</span>

        {% endfor %}
        <hr>
        <br>
    {% endfor %}

        </div>
    </div>

{% endblock %}




